* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #f6f4f4;;
    font-family: Arial, Helvetica, sans-serif;
  }

  header{
    background-color: #ffffff;
    height: 80px;
    line-height: 80px;
  }

  #logo{
   vertical-align: middle;
   margin-left: 15px;
   
  }

  h1{
    display: inline;
    vertical-align: middle;
    font-size: 36px;
  }

 .container{
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 45px;
    margin-bottom: 20px;
    border-radius: 1%;
    padding: 0px 0px 60px 40px;
 }

 .btn{
    border: 1px;
    font-size: 15px;
    padding: 20px 5px 10px;

  }

  .add-task-btn{
    color: #ffffff;
	border: 1px solid #4794c8;
	background-color: #47adf1;
    padding: 8px;
    font-size: 12px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
  }

  .add-selection-btn{
    color: #bdbbbb;
    border: 1px solid #bdbbbb;
	background-color: transparent;
    padding: 8px;
    font-size: 12px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10%;
  }
/*VEDI COME MODIFICARE LA LINEA*/
  hr{
    border: #5f5757;
    


  }


summary{
    margin-top: 20px;
    font-weight: 700;
}

ul{
    list-style-type: none;
/*aggiungi il padding giusto più tardi*/
    padding: 0;
}


.check{
    color: green;
    border-color: green;
    border-style: solid;
    border-radius: 50%;
}

.cross{
    color: red;
    border-color: red;
    border-style: solid;
    border-radius: 50%;
}

.task-category{
    color: white;
    border-radius: 20%;
    border-width: 0;
    padding: 5px;
}

.editorial
{
    background-color: #45abea;
}

.q1-goals{
    background-color:#9c72e4;
}

.recruiting{
    background-color:#64c0a9;
}

.mobile{
    background-color: #f19b2d;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}

