* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

ul{
    list-style-type: none;
/*aggiungi il padding giusto più tardi*/
    padding: 0;
}


.check{
    color: green;
    border-color: green;
    border-style: solid;
    border-radius: 50%;
}

.cross{
    color: red;
    border-color: red;
    border-style: solid;
    border-radius: 50%;
}

.task-category{
    color: white;
    border-radius: 20%;
    border-width: 0;
    padding: 5px;
}

.editorial
{
    background-color: blue;
}

.q1-goals{
    background-color: purple;
}

.recruiting{
    background-color: green;
}

.mobile{
    background-color: orange;
}

.website{
    background-color: magenta;
}

.sales{
    background-color: greenyellow;
}

